.streamlit/secrets.toml
.env
venv/
app_env/
pycache/
*.pyc
.vscode/
*.ipynb
*.csv
*.pdf
*.pem
*.sql
temp.py
*.onnx
*.bin
*.jpg
*.png
*.jpeg
*.gif
*.mp4
*.avi
*.mkv
*.log
*.bak
*.tmp
*.zip

# Model files
yolo26n.pt