altair
annotated-types
anyio
asttokens
attrs
babel
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
comm
cryptography
csvw
cuda-bindings
cuda-pathfinder
debugpy
decorator
distro
dlinfo
espeakng-loader
executing
filelock
filetype
flatbuffers
folium
fonttools
fsspec
geographiclib
geopy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-genai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
idna
iniconfig
isodate
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kokoro-onnx==0.5.0
langchain
langchain-core
langchain-google-genai
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
language-tags
MarkupSafe
mpmath
narwhals
nest-asyncio
networkx
numpy==1.26.4
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
onnxruntime
orjson
ormsgpack
packaging
pandas
parso
pathlib
pexpect
phonemizer-fork
platformdirs
pluggy
polars
polars-runtime-32
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
rdflib
referencing
regex
requests
requests-toolbelt
rfc3986
rpds-py
rsa
scipy
segments
setuptools
six
smmap
sniffio
soundfile
stack-data
streamlit
streamlit-folium
streamlit-geolocation
sympy
transformers==4.48.3
sentence-transformers
tenacity
termcolor
toml
torch
tornado
traitlets
triton
typing-inspection
typing_extensions
tzdata
ultralytics
uritemplate
urllib3
uuid_utils
watchdog
wcwidth
websockets
xxhash
xyzservices
zstandard